* {
    font-family: monospace;
    color: #fff;
}

body {
    background-color: #333333;
    box-sizing: border-box;
}

html,
body,
#container {
    height: 99%;
}

textarea {
    background: #1e1e1e;
    border: solid 1px #1d1d1d;
    outline: none;
    padding: 5px;
    border-radius: 3px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    resize: none;
}

.configuracoes {
    margin-top: 50px;
}

.configuracoes button {
    display: inline-block !important;
}

#mudarview {
    display: inline-block !important;
}

.codigo {
    margin-top: 10px;
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: calc(100% - 110px);
    border-radius: 3px;
}

.line-numbers {
    background: #202020;
    vertical-align: top;
    display: inline-block;
    padding: 5px;
    user-select: none;
    pointer-events: none;
    color: #999;
    box-sizing: border-box;
    text-align: right;
}

input {
    background: #1e1e1e;
    border: solid 1px #1d1d1d;
    padding: 5px 10px;
    margin-top: 5px;
    outline: none;
    width: 500px;
}

label {
    color: #a3a3a3;
    margin-left: 5px;
}

.true {
    background: #1e1e1e;
    color: forestgreen;
}

.false {
    background: #1e1e1e;
    color: red;
}

.versao {
    width: 600px;
    text-align: left;
}

.row {
    width: 100%;
    box-sizing: border-box;
    font-size: 0;
}

.ferramentas {
    display: inline-block;
    width: 50%;
    vertical-align: top;
    box-sizing: border-box;
    font-size: 13px;
}

.config {
    text-align: right;
    display: inline-block;
    width: 50%;
    vertical-align: top;
    box-sizing: border-box;
    font-size: 13px;
}

.fixed-label {
    display: inline-block;
    width: 200px;
    text-align: right;
}

button {
    color: #a3a3a3;
    background-color: #444;
    border: none;
    outline: none;
    padding: 10px 20px;
    font-size: 13px;
    cursor: pointer;
    margin-top: 8px;
}

textarea::-webkit-scrollbar {
    width: auto;
    cursor: default;
}

textarea::-webkit-scrollbar-track {
    background: #1d1d1d !important;
}

textarea::-webkit-scrollbar-thumb {
    background-color: #383838 !important;
}

textarea::-webkit-scrollbar-thumb:hover {
    background: #4f4f4f !important;
}

textarea::-webkit-resizer {
    background: #383838 !important;
}

.version {
    position: fixed;
    top: 0;
    right: 0;
    margin: 10px;
}

select {
    background: #1e1e1e;
    border: solid 1px #1d1d1d;
    padding: 4px;
    width: 200px;
    color: #888;
}

.regex button {
    background: #1e1e1e;
    border: solid 1px #1d1d1d;
    padding: 4px 10px;
    color: #0577b8;
}

.modal {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.modal .container {
    width: 800px;
    height: 600px;
    background-color: #333333;
    box-sizing: border-box;
    position: relative;
    padding: 40px 5px 5px;
}

.modal .container .fechar {
    position: absolute;
    top: 0;
    right: 0;
    font-weight: bolder;
    font-size: 10px;
    padding: 7px 10px 10px;
    cursor: pointer;
}

.modal .container .titulo {
    position: absolute;
    top: 0;
    left: 0;
    font-weight: bolder;
    font-size: 14px;
    padding: 7px 10px 10px;
    cursor: default;
}

#comandos button{
    margin-right: 8px;
}

#construtor-input {
    padding: 15px;
    border: none;
    background: #191919;
    min-height: 15px;
}

#construtor-input span {
    margin-right: 2px;
}

#construtor-input span:focus {
    outline: none;
}

#construtor-input .texto {
    border-radius: 3px;
    padding: 2px 3px;
}

#construtor-input .regex {
    color: #428fdc;
    background-color: #033464;
}

#construtor-input .argumento {
    color: #91d4a8;
    background-color: #0d532a;
}